<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pow Wow</title>
  </head>
  <body>
    <header>
      <h1>Pow Wow</h1>
      {% if user.is_authenticated %}
          <p>Hello {{  user.username }}!</p>
        <a href="{% url 'account:logout' %}">logout</a>
      {% else %}
        <a href="{% url 'account:login' %}">login</a>
        <a href="{% url 'account:signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>